@font-face {
   src: url(../fonts/Roboto/Roboto-Light.ttf);
   font-family: Roboto;
}

@font-face {
   src: url(../fonts/Roboto/Roboto-Bold.ttf);
   font-family: Roboto-Bold;
}

@font-face {
   src: url(../fonts/HelveticaNeue/);
}
<<<<<<< HEAD
=======

>>>>>>> master
a{
   color:white;
   font-size: .4em;
   text-decoration:none;
   cursor: pointer;
}
<<<<<<< HEAD

=======
a:hover{
   color: #bb86fc
}
/*
a:hover {
   color: white;
   text-decoration: underline lightgray;
}
*/
/*
a:visited {
   color: white;
}
*/
>>>>>>> master
body {
   height:100%;
   margin: 0;
   padding: 0;
   background: gray;
   font-family: 'Roboto', sans-serif;
   font-size: 36px;
   height:100%;
   color:gray;
   min-height: 100%;
   margin: 0; 
   overflow: hidden;
}
h2 {
   color: white;
   font-size: .5em;
   padding: 10px 10px;
}

input {
   width: 100%;
}

<<<<<<< HEAD
input {
   width: 100%;
}
input:hover{
   border-color: #bb86fc
}
a:hover{
   color: #bb86fc
}
.login-reg-background{
   height:100%;
}
.login-logo{
   position:fixed;
   top:0px;
   left:0px;
}
.logo{
   position:fixed;
   top: .5%;
   left: .5%;
   max-width: 100%;
   max-height:100%;
   display:block;

}
=======
input:hover{
   border-color: #bb86fc
}
>>>>>>> master
label {
   color: #bb86fc;
   display: block;
   font-size: 1.0em;
}
<<<<<<< HEAD
a{
   color:white;
   font-size: .4em;
   text-decoration:none;
   cursor: pointer;
}
.input {
   background-color: transparent;
   border: none;
   color: white;
   font-size: 16px;
   margin-top: 5px;
   padding: 0;
}
::placeholder{
   color:white;
   opacity:1;
   padding:3px;
   margin:2px;
}
.input:focus {
   outline: none;
   width:100%;
}

.login-reg-foot-text{
   text-align:center;
   width:100%;
   position:fixed;
   bottom: 0px;
   font-size: .4em;
}
=======
>>>>>>> master
p{
   font-size:1.2em;
   color:white;
   
}
p:hover{
   color: #bb86fc
}
span{
   font-size: .8em;
   color: #bb86fc;
}
table{
   border-collapse: separate;
   border-spacing: 0 15px;
}
td{
   border-bottom: 7px #bb86fc solid;
   background-color: #444444;
   padding: 10px;
   min-width: 300px;
   margin: 5px;
}
.btn {
   background-color: transparent;
   padding: 5px 10px;
   border-radius: 5px;
   width: 120px;
   color: white;
   cursor: pointer;
}

.chkbox-group {
   padding-bottom: 25px;
}
.extend-input {
   width: 100%;
}
<<<<<<< HEAD
=======
.footer{
   border-bottom-left-radius:5px;
   border-bottom-right-radius:5px;
   
   grid-column:1/4;
   grid-row-start:3;
   grid-row-end:4;
   padding: 2px 2px;
   border-color: #e7e7e7;
   
   height:100%;
   background-color:#212121;
}
>>>>>>> master
.form-section {
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 7px;
    padding: 2px 6px;
    width: 46%;
    margin-left: 15%;
    position: absolute;
    top: 10%;
    left: 5%;
}

.grid{
   display:grid;
   position:absolute;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: 8% 81% 11%;
   background:lightgray;
   width: 100vw;
   height:100vh;
   left:0px;
   top:0px;
}
.header{
   /*border-radius:5px;*/
   border-top-left-radius:5px;
   border-top-right-radius:5px;
   grid-column:1/4;
   grid-row-start:1;
   grid-row-end:2;
   padding: 15px 20px;
   border-color: #212121;
   
   height:100%;
   background-color: #212121;
}
.input {
   background-color: transparent;
   border: none;
   color: white;
   font-size: 16px;
   margin-top: 5px;
   padding: 0;
}
.input:focus {
   outline: none;
   width:100%;
}

.logo{
   position:fixed;
  top: .5%;
  left: .5%;
  max-width: 100%;
  max-height:100%;
  display:block;

}
.login-logo{
   position:fixed;
   top:0px;
   left:0px;
}
.login-reg-background{
   height:100%;
}
.login-reg-foot-text{
   text-align:center;
   width:100%;
   position:fixed;
   bottom: 0px;
   font-size: .4em;
}
.login-reg-main {
   margin-left: 20%;
}
#Signin-btn{
   min-width: 90px;
}
#Skip-btn{
   min-width: 220px;
   overflow: hidden;

}

<<<<<<< HEAD
=======
.main{
  /*border-radius:5px;*/
   grid-column:1/4;
   grid-row-start:2;
   grid-row-end:3;
   padding: 2px 2px;
   border-color: #e7e7e7;
   
   height:100%;
   background: url("/static/assets/onboarding_background_001.png");
   background-size: auto;
   background-position:center;
   -webkit-background-size: cover;
}
::placeholder{
   color: darkgray;
   opacity:1;
   padding:3px;
   margin:2px;
}
#Signin-btn{
   min-width: 90px;
}
#Skip-btn{
   min-width: 220px;
   overflow: hidden;

}

>>>>>>> master
.visibility-icon input[type='checkbox'] {
   display: none;
}

.visibility-icon input + label {
   display: block;
   height: 20px;
   width: 30px;
   cursor: pointer;
   background: url(../assets/password_eye_001.png) no-repeat center center;
   background-size: contain;
   opacity: 0.5;
   border-color: white;
}

.visibility-icon input[type='checkbox']:checked + label {
   background: url(../assets/password_eye_001.png) no-repeat center center;
   background-size: contain;
   cursor: pointer;
   display: block;
   opacity: 1.0;
   height: 20px;
   width: 30px;
}
.with-eye {
   display: flex;
}

@media only screen and (max-width: 800px) {
   body{
      font-size:1.2em;
   }

}
@media only screen and (max-width: 1024px) and (min-width: 801px)  {
   body{
      font-size:1.8em;
   }
}

@media only screen and (max-width: 1280px) and (min-width: 1024px)  {
   body{
      font-size:2.0em;
   }
}
