
.cache/
.config/
.local/
.profile/
.Xauthority
.xsession-errors
.xsession-errors.old
**/dev
**/logs
**/Demo90-env/
**/checkid-env/
**/__pycache__/
**/__Pycache__/
**/SF-env/
Bookshelf/
Desktop/
Downloads/
Flash-api/
labelImg-master
Music/
Public/
Seekware_SDK_3.6.0.0
**/thermal01-env/
Thumbnails/
Videos/
scratch.txt
.python_history
.labelImgSettings.pkl
.anydesk
.bash_history
.bash_logout
.bashrc
.profile
.vim/*
.vimrc
.viminfo
.gitignore.swp
.gitignore.save.1
.idea/
project-posenet-master/models/
webcam.lo
venv/
Demo90/__pycache__/config.cpython-37.pyc
Demo90/sfui/__pycache__/__init__.cpython-37.pyc
Demo90/sfui/__pycache__/widgets.cpython-37.pyc
DRS Sensor Fusion Client Setup
install_Demo.90.sh
pose_estimate_installation.sh
tflite_thermal_live_installation.sh
Demo90/model.obj
