.cache/
.config/
.local/
.profile/
.Xauthority
.xsession-errors
.xsession-errors.old
**/dev
**/logs
**/Demo90-env/
**/checkid-env/
**/__Pycache__/
**/__pycache__/
**/SF-env/
Bookshelf/
Desktop/
Downloads/
Flash-api/
labelImg-master
Music/
Public/
Seekware_SDK_3.6.0.0
**/thermal01-env/
Thumbnails/
Videos/
scratch.txt
.python_history
.labelImgSettings.pkl
.anydesk
.bash_history
.bash_logout
.bashrc
.profile
.vim/*
.vimrc
.viminfo
.gitignore.swp
.gitignore.save.*
.idea/
project-posenet-master/models/
webcam.lo
venv/
DRS Sensor Fusion Client Setup
install_Demo.90.sh
tflite_thermal_live_installation.sh

